<!DOCTYPE html>
<html lang="en">

<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="css/style.css" rel="stylesheet">
</head>

<body>
	<p><a href="/">Back to Form</a></p>
	<form method="post" action="result">
		<div id="wrapper">
			This will be the index page of the project!
			<p>Your Name: <%=name%></p>
			<p>Dojo Location: <%=location%></p>
			<p>Language: <%=language%></p>
			<p>Comment: <%=comment%></p>
			<input type="submit" value="SUBMIT">
		</div>
	</form>

</body>

</html>